<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Beer details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div th:if="${editBeerExceptionMessage}" th:text="${editBeerExceptionMessage}" th:class="${'alert ' + alertClass}"/>
    <div th:if="${updatedBeerMessage}" th:text="${updatedBeerMessage}" th:class="${'alert ' + alertClass}"/>
    <div class="container">
        <div class="row">
            <div class="card col-6 offset-3">
                <div class="row no-gutters">
                    <div class="col-4">
                        <img th:src="${beer.picture}" style="width: 100%; max-width: 125px;" />
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${beer.name}"></h5>
                            <p class="card-text" th:text="${beer.description}"></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Abv: <span th:text="${beer.abv}"></span></li>
                            <li class="list-group-item">Average rating: <span th:text="${beer.averageRating}"></span></li>
                            <li class="list-group-item">Brewery: <span th:text="${beer.brewery.brewery}"></span></li>
                            <li class="list-group-item">Country: <span th:text="${beer.country.country}"></span></li>
                            <li class="list-group-item">Style: <span th:text="${beer.style.style}"></span></li>
                        </ul>
                        <div class="card-body">
                            <p>Tags</p>
                            <ul th:each="tag : ${tags}">
                                <li th:text="${tag.tag}"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>