<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create beer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h2>Create Beer Page</h2>
            <p>
                <i th:if="${error != null}" th:text="${error}" style="color: red" />
            </p>
            <form action="#" th:action="@{createBeer}" th:object="${beer}" method="post">
                <div class="form-group">
                    <label th:text="#{beers.header.name}">Beername</label>
                    <input type="text" class="form-control" id="name" name="name" th:field="*{name}"/>
                </div>

                <div class="form-group">
                    <label th:text="#{beers.header.abv}">Abv</label>
                    <input type="text" class="form-control" th:field="*{abv}"/>
                </div>

                <div class="form-group">
                    <label th:text="#{beer.header.picture}">Picture</label>
                    <input type="text" class="form-control" th:field="*{picture}"/>
                </div>

                <div class="form-group">
                    <label th:text="#{beers.header.description}">Description</label>
                    <input type="text" class="form-control" th:field="*{description}"/>
                </div>

                <div class="form-group">
                    <label th:text="#{beers.header.country}">Country</label>
                    <select class="form-control" th:field="*{country.id}" >
                        <option th:each="country : ${countries}"
                                th:value="${country.id}"
                                th:text="${country.country}">
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label th:text="#{beers.header.brewery}">Brewery</label>
                    <select class="form-control" th:field="*{brewery.id}" >
                        <option th:each="brewery : ${breweries}"
                                th:value="${brewery.id}"
                                th:text="${brewery.brewery}">
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label th:text="#{beers.header.style}">Style</label>
                    <select class="form-control" th:field="*{style.id}" >
                        <option th:each="style : ${styles}"
                                th:value="${style.id}"
                                th:text="${style.style}">
                        </option>
                    </select>
                </div>
                <input type="submit" value="Save"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>