<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <form th:object="${user}" th:method="put">
                    <label th:text="#{user.header.name}" class="col-sm-2 col-form-label col-form-label-lg">Username:</label>
                    <p th:text="*{username}"/></p>

                    <div class="form-group">
                        <label th:text="#{user.header.password}" class="col-sm-2 col-form-label col-form-label-lg">Password:</label>
                        <input type="text" class="form-control" th:field="*{password}"/>
                    </div>

                    <div class="form-group">
                    <label th:text="#{user.header.picture}" class="col-sm-2 col-form-label col-form-label-lg">Picture</label>
                    <input type="text" class="form-control" th:field="*{picture}"/>
                    </div>

                    <div class="form-group">
                    <label th:text="#{user.header.mail}" class="col-sm-2 col-form-label col-form-label-lg">Mail</label>
                    <input type="text" class="form-control" th:field="*{mail}"/>
                    </div>

                    <div class="form-group">
                    <label th:text="#{user.header.country}" class="col-sm-2 col-form-label col-form-label-lg">Country</label>
                    <select th:field="*{country.id}" class="form-control">
                        <option th:each="country : ${countries}"
                                th:value="${country.id}"
                                th:text="${country.country}">
                        </option>
                    </select>
                    </div>

                    <div class="form-group">
                    <label th:text="#{user.header.role}" class="col-sm-2 col-form-label col-form-label-lg">Role</label>
                    <select id="authority" name="authority" class="form-control">
                        <option value="ROLE_USER">USER</option>
                        <option value="ROLE_ADMIN">ADMIN</option>
                    </select>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Save">
                </form>
            </div>
        </div>
    </div>
</body>
</html>