<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit beer</title>
</head>
<body>
<form action="#" th:object="${beer}" th:method="put">
    <label th:text="#{beers.header.name}">Beer name</label>
    <br/>
    <input type="text" id="name" name="name" th:field="*{name}"/>
    <br/><br/>

    <label th:text="#{beers.header.abv}">abv</label>
    <br/>
    <input type="text" th:field="*{abv}"/>
    <br/><br/>

    <label th:text="#{beer.header.picture}">Picture</label>
    <br/>
    <input type="text" th:field="*{picture}"/>
    <br/><br/>

    <label th:text="#{beers.header.description}">Description</label>
    <br/>
    <input type="text" th:field="*{description}"/>
    <br/><br/>


    <label th:text="#{beers.header.country}">Country</label>
    <br/>
    <select th:field="*{country.id}" >
        <option th:each="country : ${countries}"
                th:value="${country.id}"
                th:text="${country.country}">
        </option>
    </select>
    <br/>

    <label th:text="#{beers.header.brewery}">Brewery</label>
    <br/>
    <select th:field="*{brewery.id}" >
        <option th:each="brewery : ${breweries}"
                th:value="${brewery.id}"
                th:text="${brewery.brewery}">
        </option>
    </select>
    <br/>

    <label th:text="#{beers.header.style}">Style</label>
    <br/>
    <select th:field="*{style.id}" >
        <option th:each="style : ${styles}"
                th:value="${style.id}"
                th:text="${style.style}">
        </option>
    </select>
    <br/>
    <br/>
    <input type="submit" value="Save"/>
</form>

</body>
</html>