<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h2>Register Page</h2>
            <p>
            <i th:if="${error != null}" th:text="${error}" style="color: red" />
            </p>
                <form action="#" th:action="@{/register}" th:object="${user}" method="post">
                    <div class="form-group">
                        <label th:text="#{user.header.name}">Username</label>
                        <input type="text" class="form-control" id="username" name="username" th:field="*{username}"/>
                    </div>

                    <div class="form-group">
                        <label th:text="#{user.header.password}">Password</label>
                        <input type="password" class="form-control" th:field="*{password}"/>
                    </div>

                    <div class="form-group">
                        <label th:text="#{user.header.picture}">Picture</label>
                        <input type="text" class="form-control" th:field="*{picture}"/>
                    </div>

                    <div class="form-group">
                        <label th:text="#{user.header.mail}">Mail</label>
                        <input type="text" class="form-control" th:field="*{mail}"/>
                    </div>

                    <div class="form-group">
                        <label th:text="#{user.header.country}">Country</label>
                        <select class="form-control" th:field="*{country.id}" >
                            <option th:each="country : ${countries}"
                                    th:value="${country.id}"
                                    th:text="${country.country}">
                            </option>
                        </select>
                    </div>
                    <input type="submit" value="Register"/>
                </form>
            </div>
         </div>
    </div>
</body>
</html>