<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link th:href="@{css/style.css}" rel="stylesheet" />
    <style>
        /* DivTable.com */
        .divTable{
            display: table;
            width: 50%;
        }
        .divTableRow {
            display: table-row;
        }
        .divTableHeading {
            background-color: #EEE;
            display: table-header-group;
        }
        .divTableCell, .divTableHead {
            border: 1px solid #999999;
            display: table-cell;
            padding: 3px 10px;
        }
        .divTableHeading {
            background-color: #EEE;
            display: table-header-group;
            font-weight: bold;
        }
        .divTableFoot {
            background-color: #EEE;
            display: table-footer-group;
            font-weight: bold;
        }
        .divTableBody {
            display: table-row-group;
        }
    </style>

</head>
<body>
<p></p>
<h1>User Details</h1>

<div class="divTable">
    <div class="divTableBody">
        <div class="divTableRow">
            <div class="divTableCell">Name</div>
            <div class="divTableCell">Email</div>
            <div class="divTableCell">Country</div>

        </div>
        <div class="divTableRow" th:object="${user}">
            <div class="divTableCell"><span th:text="*{username}">...</span>&nbsp;</div>
            <div class="divTableCell"><span th:text="*{getMail()}">...</span>&nbsp;</div>
            <div class="divTableCell"><span th:text="*{country.country}">...</span>&nbsp;</div>
        </div>
    </div>
</div>
<!-- DivTable.com -->
<p></p>
<p></p>

<h1>Beers drank list</h1>
<p></p>

<div class="divTable">
    <div class="divTableBody">
        <div class="divTableRow">
            <div class="divTableCell">Name</div>
            <div class="divTableCell">Abv</div>
            <div class="divTableCell">Picture</div>
            <div class="divTableCell">Description</div>
            <div class="divTableCell">Brewery</div>
            <div class="divTableCell">Style</div>
            <div class="divTableCell">Country</div>
        </div>
        <div class="divTableRow" th:object="${beersdrank}" th:each="beer : ${beersdrank}">
            <div class="divTableCell" th:text="${beer.name}">&nbsp;</div>
            <div class="divTableCell" th:text="${beer.abv}">&nbsp;</div>
            <div class="divTableCell" th:text="${beer.picture}">&nbsp;</div>
            <div class="divTableCell" th:text="${beer.description}">&nbsp;</div>
            <div class="divTableCell" th:text="${beer.brewery.brewery}">&nbsp;</div>
            <div class="divTableCell" th:text="${beer.style.style}">&nbsp;</div>
            <div class="divTableCell" th:text="${beer.country.country}"></div>
        </div>
    </div>
</div>
<p></p>
<p></p>

<h1>Beers want to drink list</h1>
<p></p>

<div class="divTable">
    <div class="divTableBody">
        <div class="divTableRow">
            <div class="divTableCell">Name</div>
            <div class="divTableCell">Abv</div>
            <div class="divTableCell">Picture</div>
            <div class="divTableCell">Description</div>
            <div class="divTableCell">Brewery</div>
            <div class="divTableCell">Style</div>
            <div class="divTableCell">Country</div>
        </div>
        <div class="divTableRow" th:object="${beerswanttodrink}" th:each="beer : ${beerswanttodrink}">
            <div class="divTableCell" th:text="${beer.name}">&nbsp;</div>
            <div class="divTableCell" th:text="${beer.abv}">&nbsp;</div>
            <div class="divTableCell" th:text="${beer.picture}">&nbsp;</div>
            <div class="divTableCell" th:text="${beer.description}">&nbsp;</div>
            <div class="divTableCell" th:text="${beer.brewery.brewery}">&nbsp;</div>
            <div class="divTableCell" th:text="${beer.style.style}">&nbsp;</div>
            <div class="divTableCell" th:text="${beer.country.country}"></div>
        </div>
    </div>
</div>
<p></p>
<p></p>

</body>
</html>