<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>
        /* DivTable.com */
        .divTable {
            display: table;
            width: 50%;
        }
        .divTableRow {
            display: table-row;
        }
        .divTableHeading {
            background-color: #EEE;
            display: table-header-group;
        }
        .divTableCell, .divTableHead {
            border: 1px solid #999999;
            display: table-cell;
            padding: 3px 10px;
        }
        .divTableHeading {
            background-color: #EEE;
            display: table-header-group;
            font-weight: bold;
        }
        .divTableFoot {
            background-color: #EEE;
            display: table-footer-group;
            font-weight: bold;
        }
        .divTableBody {
            display: table-row-group;
        }
    </style>
</head>

<body>

<div th:if="${deletedUserMessage}" th:text="${deletedUserMessage}" th:class="${'alert ' + alertClass}"/>
<div th:if="${updatedUserMessage}" th:text="${updatedUserMessage}" th:class="${'alert ' + alertClass}"/>
<div th:if="${createdUserMessage}" th:text="${createdUserMessage}" th:class="${'alert ' + alertClass}"/>
<div th:if="${createUserExceptionMessage}" th:text="${createUserExceptionMessage}" th:class="${'alert ' + alertClass}"/>
<div th:if="${editUserExceptionMessage}" th:text="${editUserExceptionMessage}" th:class="${'alert ' + alertClass}"/>



<div th:switch="${users}">
    <h2 th:case="null">No users yet!</h2>
    <div th:case="*">
        <h1>Users</h1>
        <p></p>
        <p></p>
        <div class="divTable">
            <div class="divTableBody">
                <div class="divTableRow">
                    <div class="divTableCell"><b>Name</b></div>
                    <div class="divTableCell"><b>Email</b></div>
                    <div class="divTableCell"><b>Edit</b></div>
                    <div class="divTableCell"><b>Delete</b></div>
                    <div class="divTableCell">&nbsp;</div>
                </div>
                <div class="divTableRow" th:object="${users}" th:each="user : ${users}">
                    <div class="divTableCell" th:text="${user.username}">&nbsp;</div>
                    <div class="divTableCell" th:text="${user.mail}">&nbsp;</div>
                    <div class="divTableCell"><a th:href="@{editUser/{id}(id=${user.id})}">Edit</a></div>
                    <div class="divTableCell"><a th:href="@{deleteUser/{id}(id=${user.id})}">Delete</a></div>
                    <div class="divTableCell"><a th:href="@{getUserById/{id}(id=${user.id})}">Details</a></div>
                </div>
            </div>
        </div>
        <!-- DivTable.com -->

    </div>
    <p><a th:href="@{createUser}">Add a new user</a></p>
    <p><a th:href="@{/beers}">Go to beers page</a></p>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
    </form>
</div>
<p></p>


</body>
</html>